@import 'mixins';
@import 'animations';
@import 'variables';

.book-table {
  @include transition(0.22s);

  img {
    -webkit-animation: fadein 0.22s;
  }
}

.book-cell {
  position: relative;
  img {
    // position: absolute;
  }
}

.cell-button-container {
  .cell-button {
    background-image: url('/static/img/trade-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 30px;
    font-size: 0;
    color: gray;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0.3em 0.5em;
    background-color: white;
    margin-right: 20px;
  }
  
  .cell-button:hover {
    background-image: url('/static/img/trade-icon-over.svg');
    background-color: white;
    color: $primary-color;
    border-color: $primary-color;
  }
}

.float-right {
  float: right;
}

.action-button {
  z-index: 2000;
  font-size: 0.8em;
  font-weight: $semibold;
  border-radius: 4px;
  border: 1px solid white;
  background-color: white;
  color: $primary-color;
  padding: 0.4em 0.8em;
}

.page-header:hover {
  .action-button {
    border: 1px solid lightgray;
  }

  .action-button:hover {
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.tab-container {
  width: 100%;
}

.add-button {
  right: 2em;
}

.book-table {
  h2 {
    font-weight: $regular;
  }

  h4 {
    margin: 0;
    padding: 0;
  }
}

.bookcreator-container {
  margin: 2em auto 4em;
  padding: 3.6em;
  background-color: $secondary-color;

  img, .book-detail {
    margin-bottom: 3em;
    display: inline-block;
  }

  img {
    flex: 1;
    width: 200px;
    height: auto;
  }

  img {
    width: 200px;
  }

  .book-detail {
    margin-left: 1em;
    flex: 1;
    position: absolute;
    width: 200px;
  }

  .action-button {
    border: 1px solid lightgray;
  }

  .action-button:hover {
    border: 1px solid $primary-color;
  }

  h4 {
    margin: 0;
  }
}
