@import 'animations';
@import 'variables';

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

// TODO: wip
.page {
  overflow-x: scroll;
}

.page-container {
  margin-left: 2.4em;
  display: -webkit-flexbox;
  display: flexbox;
  flex-direction: column;
  overflow-y: scroll;
  height: auto;
  max-height: 100%;

  .page-header {
    position: fixed;
    background-color: white;
    z-index: 100;
    width: 100%;
  }

  .content-title {
    margin-top: 2em;
  }

  .tab-container {
  }

  .content-container {
    margin-top:9em;
  }
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: -webkit-flexbox;
  display: flex;
  height: 100%;

  .nav {
    width: $sidebar-width;
    height: 100%;
  }

  .page {
    flex: 1;
    width: 100%;
    height: 100%;
  }
}

.fixed-content {
  margin-top: 2.5em;
  margin-left: 2.4em;

  /* AccountForm-only layout */
  .content-title {
    margin-bottom: 2em;
  }
}

// @media all and (max-width: 1200px) {
//   nav {
//     // width: 300px;
//   }

//   .content {
//     // margin-left: 0px;
//     left: $sidebar-width;
//   }
// }

.auth-container {
  -webkit-animation: fadein 0.22s;

  background-color: $secondary-color;
  margin: 3em auto 1em;
  padding: 4em 4em 5em;

  .float-right {
    float: right;
  }

  form {
    margin-top: 2em;
  }

  input[type=text], input[type=password] {
    font-family: $font;
    width: 96%;
  }

  input[type=submit] {
    color: white;
    background-color: $primary-color;
    font-weight: $semibold;
    padding: 0.5em 1em;
    width: 120px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    font-family:  'Source Sans Pro';
  }

  input[type=submit]:hover {
    cursor: pointer;
    background-color: lighten($primary-color, 7%);
  }
}

.bookcreator-container {
  -webkit-animation: fadein 0.22s;

  background-color: $secondary-color;
  margin: 3em auto 1em;
  padding: 3em 3em 5em;
  height: auto;
  max-height: 100%;
  overflow: auto;

  .float-right {
    float: right;
  }

  .bookcreator-header {
    margin-bottom: 2em;

    .content-title, button {
      display: inline-block;
    }

    .content-title, h2 {
      margin-top: 0;
    }
  }

  .book-table {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    width: 100%;

    .book-cell {
      height: 100%;
    }

    .book-cell:last-child {
      margin-bottom: 10em;
    }
  }

  .cell-detail {
    position: absolute;
    text-align: left;
    top: 0;
    left: 220px;

    h4 {
      line-height: 1.4em;
    }

    .action-button {
      margin-top: 1.4em;
    }
  }
}

input[type=search] {
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.searchbox-container {
  input[type=search] {
    margin: 0;
    width: 80%;
    font-size: 1em;
    font-family: $font;
    height: 38px;
    padding: 0.3em 0.5em;
    border-radius: 4px 0 0 4px;
    border: 1px solid lightgray;
  }

  input[type=submit] {
    margin-left: -1px;
    z-index: 1000;
    height: 38px;
    display: inline;
    color: white;
    background-color: $primary-color;
    font-weight: $semibold;
    padding: 0.5em 1em;
    width: 20%;
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: 1em;
    font-family: $font;
  }

  input[type=submit]:hover {
    cursor: pointer;
    background-color: lighten($primary-color, 7%);
  }
}

.trade-table {
  margin-bottom: 4em;
}

.trade-cell {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin: 1em auto;

  .trade-detail, img, a {
    display: inline-block;
  }

  a {
    margin-right: 1em;
  }

  .trade-detail {
    width: 200px;
    margin-right: 40px;
    margin-bottom: 3em;
  }

  .action-button {
    border: 1px solid lightgray;
  }
}

.action-button {
  border: 1px solid lightgray;
}

.action-button:hover {
  color: $primary-color;
  border: 1px solid $primary-color;
}
