@import 'animations';

.fade-in {
  -webkit-animation: fadein 0.22s;
}

.modal-container {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
  bottom: 3em;
}

.modal-content {
  position: relative;
  margin: 0 auto 2em;
  width: 500px;
  min-width: 500px;
  display: block;
  height: 94%;
  overflow: hidden;
}
