@import 'variables';
@import 'mixins';

.nav {
  background-color: $secondary-color;

  a, button {
    margin-left: 2.4em;
    display: block;
    line-height: 2.5em;
    font-size: $navlink-font-size;
  }

  .logo {
    margin-top: 2.6em;
    margin-bottom: 1em;
  }
}

.tab-container {
  margin-top: 2.1em;
  margin-bottom: 1em;
}

.tab-link {
  font-size: 0.9em;
  margin-right: 1em;
  font-weight: $bold;
}
