@import 'variables';
@import 'mixins';

html, body, a, button {
  font-family: 'Source Sans Pro', 'Open Sans', Helvetica,  sans-serif;
}

h1, h2 {
  font-weight: $regular;
}

h3, h4, h5, h6 {
  color: $primary-invert;
}

h4 {
  line-height: 1.4em;
  font-weight: $semibold;
}

.content-title {
  margin: 0.5em 0 1em;
  font-size: 1.3em;
  font-weight: 400;
}

a {
  color: $primary-invert;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;

  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: $primary-invert;
}

a, button {
  @include transition(0.17s);

  font-size: 1em;
}

a:hover, button:hover {
  color: darken($primary-invert, 10%);
}

.active {
  color: $primary-color;
}

.active:hover {
  color: darken($primary-color, 10%);
}

h3 {
  font-size: 0.8em;
}

input {
  font-family: $font;
}
