@import 'variables';
@import 'mixins';

html, body, a, button {
  font-family: 'Open Sans', Helvetica,  sans-serif;
}

a {
  color: $primary-invert;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;

  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: $primary-invert;
}

a, button {
  @include transition(0.17s);

  font-size: 1em;
}

a:hover, button:hover {
  color: darken($primary-invert, 10%);
}

.active {
  color: $primary-color;
}

.active:hover {
  color: darken($primary-color, 10%);
}
